{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="description" content="">
    <meta name="author" content=""> -->

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-warning">

    <div class="container" style="margin-top: 70px;">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block">
                                <img style="width:500px;height:500px" src="{% static 'img/icon2.jpg' %}">
                            </div>
                    <div class="col-lg-7">
                        <div class="p-5" style="margin-left: 30px;">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account</h1>
                            </div>
                            
        
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="name" id="li" placeholder="Full Name" style="text-align:center;" required>
                                    </div><br>
                                    
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="username" id="l1" placeholder="Username" style="text-align:center;" required>
                                    </div><br>
                                    <div class="col-sm-6">
                                        <input type="password" name="password" class="form-control form-control-user" id="l2"
                                            placeholder="Password" style="text-align:center; margin-top: 15.5px;" required>
                                    </div>
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="id" id="l3" placeholder="College_id" style="text-align:center; margin-top: 14.5px;" required>
                                    </div><br>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user" name="email" id="l4" placeholder="Email id" style="text-align:center; margin-top: 15px;" required>
                                    </div><br>
          <button id="i" class="btn btn-primary btn-user btn-block" style="margin-top: 76px;
          margin-bottom: -60px;
          margin-left: 7px;">
                                    Register Account
                                </button>
                            </div>
                                
                               
                               
                              
                            
                            <div class="text-center" style="position:relative;top:100px">
                                <a class="small" href="{% url 'Display_login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        
        $('#i').click(function(){
            var name=$('#li').val()
            var password=$('#l2').val()
            var username=$('#l1').val()
              var college_id=$('#l3').val()
            var email=$('#l4').val()
            let pattern=/^([a-zA-Z0-9\._]+)@([a-zA-Z0-9])+.([a-z]+)(.[a-z]+)?$/i;
    if(email.match(pattern))
    {
        
            $.ajax({
                url:"user_reg",
                datatype:"json",
                data:{
                     "name":name,
                     "password":password,
                      "username":username,
                      "college_id":college_id,
                      "email":email
                     
                },
             success:function(d){
                    
                    if(d=="Please fill out all the fields"){
                      alert(d)
                       window.location.href="reg";
                    }
                     else if(d=="Already Registered"){
                      alert("Already Registered")
                       window.location.href='Display_login';
                    }
                  
                  else{
                     alert(d);
                     window.location.assign("{% url 'Display_login' %}");
                  }
                }
              

             
            })
        }
        else 
        {
        alert("Please Enter a Valid Email Address !!");
        document.getElementById("l4").value="";
        }
        })
      })
    
</script> 
</body>
</html>